@import "variables";
@import "mixin";

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.main-subtitle {
    @include fontStyle ($accent-font, 36px, bold, black);
    line-height: 30px;
}

.main-text-info {
    @include fontStyle ($main-font, 18px, medium, $main-text-color);
    line-height: 30px;
}

/*HEADER*/
header {
    display: grid;
    grid-template-columns: auto 1fr;

    nav {
        justify-self: end;

        .menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            column-gap: 30px;
            list-style: none;

            a {
                @include linkStyle(Inter, 18px, medium, none, $grey-color);

                &:hover {
                    color: black;
                    text-decoration: underline;
                    text-decoration-color: $yellow-color;
                    transition: 0.3s;
                }
            }
        }
    }
}

/*INTRODUCE*/
.main-introduce {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 760px;

    &-info {
        .introduce-title {
            @include fontStyle ("Playfair Display", 70px, bold, black);
        }

        .introduce-desc {
            @include fontStyle (Inter, 24px, 600, #202336);
        }

        .introduce-link {
            background-color: $yellow-color;
            padding: 5px 40px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px $grey-color;
            @include linkStyle ("Playfair Display", 26px, bold, none, #fff);
        }
    }
}

/*SCRUM та KANBAN*/
.comparative-main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 432px;
    column-gap: 30px;
}

/*СЕРЕДОВИЩА ОРГАНІЗАЦІЇ КОЛЕКТИВУ*/
.enviroment-main {
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        text-align: center;
    }

    table {
        margin: 0 auto;
        border-spacing: 20px;

        td, th {
            padding: 20px 30px;
        }

        th {
            @include fontStyle ($main-font, 24px, 500, white);
        }

        .dark-blue-item {
            background-color: #093B5E;
            border-radius: 10px;
        }

        .dark-green-item {
            background-color: #178A8D;
            border-radius: 10px;
        }

        .dark-cyan-item {
            background-color: #63C0C7;
            border-radius: 10px;
        }

        .center {
            text-align: center;
        }

        .yellow-item {
            @include fontStyle ($main-font, 18px, medium, black);
            border-radius: 10px;
        }
        
        .yellow-item01 {
            background-color: #FFDA68;
        }

        .yellow-item02 {
            background-color: #FFDA68;
        }
        
        .yellow-item03 {
            background-color: #FFDE77;
        }

        .yellow-item04 {
            background-color: #FFE38A;
        }

        .yellow-item05 {
            background-color: #FFE9A2;
        }

        .yellow-item06 {
            background-color: #FFEEBA;
        }

        .blue-item {
            background-color: rgba(32, 40, 112, 0.5);
        }

        .green-item {
            background-color: rgba(34, 99, 99, 0.5);
        }

        .cyan-item {
            background-color: rgba(128, 175, 247, 0.5);
        }

        .table-item {
            font-size: 30px;
            font-weight: 900;
        }
    }
}

/*FOOTER*/
footer {
    background-color: #DAF1E9;
    padding: 20px;
    .footer-main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 30px;

        .footer-copyright {
            @include fontStyle (Mulish, 18px, light, $footer-link-color);
        }

        .footer-main-link {
            @include linkStyle ("Playfair Display", 19px, regular, none, black);
            padding-left: 36px;
        }

        .footer-list-link {
            list-style: none;
            a {
                @include linkStyle (Mulish, 18px, light, none, $footer-link-color);
                line-height: 30px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    /*.SOCIALS*/
    .footer-socials {
        display: grid;
        grid-template-columns: repeat(5, 22px);
        column-gap: 30px;
        justify-content: center;
        align-items: end;

        a {
            margin: 0;
            padding: 0;
        }
    }
}