$main-font: Inter, sans-serif;
$accent-font:"Playfair Display", serif;
$footer-link-font: Mulish, sans-serif;
$grey-color:#ABAEB5;
$yellow-color:#F6A410;
$main-text-color:#333333;
$footer-link-color:#717171;